<h1>Võistkonnad</h1>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Nimi</th>
        <!--<td></td>-->
        <!--<td></td>-->
    </tr>
    <tr ng-repeat="team in TeamsListCtrl.teams | orderBy:'name.name'" ng-click="go('/teams/'+team.id);">
        <td>{{$index + 1}}</td>
        <td>{{ ismobile ? team.name.abbreviation  : team.name.name | uppercase}}</td>
        <!--<td><a href="#!/teams/{{team.id}}">clickteam</a></td>-->
        <!--<td>{{ team.name.abbreviation | uppercase}}</td>-->
        <!--<td>{{ team.team }}</td>-->
    </tr>
</table>