<h1>{{TeamShowCtrl.team.name.name}}</h1>

Players
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Nimi</th>
        <th>Sünniaeg</th>
        <th>Pikkus</th>
        <th>Hooaeg</th>
    </tr>
    <tr ng-repeat="player in TeamShowCtrl.team.players| orderBy:'playerId.firstname'">
        <td>{{$index + 1}}</td>
        <td>{{player.playerId.firstname}} {{player.playerId.lastname}}</td>
        <td>{{player.playerId.birthdate | date:"dd.MM.yyyy"}} </td>
        <!--<td>{{ team.name.abbreviation | uppercase}}</td>-->
        <!--<td>{{ team.team }}</td>-->
    </tr>
</table>