<h1>Spordihallid</h1>


<table class="table table-striped">
    <!--<tr>-->
        <!--<th>Saal</th>-->
    <!--</tr>-->
    <tr ng-repeat="place in places">
        <td>
            <div id="map"></div>
            <a href="{{place.place.link }}" target="_blank">{{place.place.name }}</a></td>
    </tr>
</table>