html{
  height: 100%;
}
body {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  min-height: 100%;
}

.navbar-inverse {
border-radius: 0px;
}
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.highlighted {
    background: yellow
}