<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" ng-controller="MainCtrl" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tartu kossuliiga</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css"> -->
    <!-- <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css"> -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="app.css">
    <!-- <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script> -->

</head>

<body>


<div class="container">
    <img src="images/vile-logo.gif" height="106" width="202"/>

    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <span class="glyphicon glyphicon-home"></span>
            <ul class="nav navbar-nav">
                <!--<li>Üldinfo</li>-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       style="background-color: #333; font-size: 18px; color: #eee;">
                        <span ng-bind="seasonName | uppercase"></span>
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="season in seasons"><a href="#/{{season.id}}/{{leagueId}}" ng-click="seasonName=season.name">{{season.name }}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       style="background-color: #333; font-size: 18px; color: #EEE;">
                        <span ng-bind="leagueName | uppercase"></span>
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="league in leaguetypes"><a href="#/{{seasonId}}/{{league.id}}" ng-click="leagueName=league.name">{{league.name }}</a></li>
                    </ul>
                </li>
                <li><a href="#/{{seasonId}}/{{leagueId}}/games">Mängud</a></li>
                <li><a href="#/standings">Edetabel</a></li>
                <li><a href="#/{{seasonId}}/{{leagueId}}/teams">Võistkonnad</a></li>
                <li><a href="#/players">Mängijad</a></li>
                <li><a href="#/places">Saalid</a></li>
                <li><a href="#/referees">Kohtunikud</a></li>
                <li><a href="#/referees">Kontaktid</a></li>
            </ul>
        </div>
    </nav>

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-view></div>

    <div>version:<span app-version></span></div>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="app.js"></script>
    <script src="routes.js"></script>

    <script src="dist/controllers.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="places/places.js"></script>

    <script src="referees/referees.js"></script>
    <script src="standings/standings.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</div>

</body>

</html>