<h1>Turniiritabel</h1>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Võistkond</th>
        <!--<th>Mänge</th>-->
        <th>Võidud</th>
        <th>Kaotused</th>
        <th>Võidu %</th>
        <th>Punktid</th>
        <th>Korvid+</th>
        <th>Korvid-</th>
        <th>Korvide vahe</th>
        <!--<th>Rivalty diff</th>-->

    </tr>
    <tr ng-repeat="team in standings | orderBy: ['-points','-rivalty','-rivaltydiff','-scorediff']">

        <td>{{$index + 1}}</td>
        <td>{{ team.name }}</td>
        <!--<td>{{ team.count }}</td>-->
        <td>{{ team.wins }}</td>
        <td>{{ team.count - team.wins }}</td>
        <td>{{ team.winperc }}</td>
        <td>{{ team.points }}</td>
        <td>{{ team.avg }}</td>
        <td>{{ team.avgop }}</td>
        <td>{{ team.scorediff }}</td>
        <!--<td>{{ team.rivalty }}</td>-->
        <!--<td>{{ team.rivaltydiff }}</td>-->

    </tr>
</table>