<h1>Kohtunikud</h1>

<label>Otsi: <input ng-model="searchText"></label>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <!--<th>Id</th>-->
        <th>Nimi</th>
        <th>Kategooria</th>
        <th>Telefon</th>
        <th>E-mail</th>
        <th>Piirkond</th>
    </tr>
    <tr ng-repeat="referee in referees | orderBy: 'firstname' | filter:searchText">
        <td>{{$index + 1}}</td>
        <td>{{referee.firstname }} {{referee.lastname }}</td>
        <td>{{referee.level}}</td>
        <td>{{referee.phone}}</td>
        <td>{{referee.email}}</td>
        <td>{{referee.region }}</td>
    </tr>
</table>