<h1>Mängijad versioon 2</h1>

<label>Otsi: <input ng-model="searchText"></label>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <!--<th>Id</th>-->
        <th>Nimi</th>
        <th>Sünniaeg</th>
        <th>Pikkus</th>
    </tr>
    <tr ng-repeat="player in PlayersCtrl.players | orderBy: 'playerId.firstname' | filter:searchText">
        <td>{{$index + 1}}</td>
        <!--<td>{{player.playerId.id }}</td>-->
        <td>{{player.playerId.firstname }} {{player.playerId.lastname }}</td>
        <td>{{player.playerId.birthdate | date:"dd.MM.yyyy" }}</td>
        <td>{{player.playerId.height }}</td>
    </tr>
</table>