<h1>Ajakava/Tulemused</h1>
<!--<button>Kõik</button>-->
<!--<button>Karikas</button>-->
<!--<button>Playoff</button>-->
<label>Otsi:
    <input ng-model="searchText">
</label>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <!--<th>Id</th>-->
        <th>Tüüp</th>
        <th>Ring</th>
        <th>Kodu</th>
        <th>Tulemus</th>
        <th>Külaline</th>
        <th>Saal</th>
        <th>Kuupäev</th>
        <th>Kell</th>
    </tr>
    <tr ng-repeat="event in schedule | filter:{searchData:searchText} | orderBy: ['date','time']"
        ng-init="event.searchData = buildSearchData(event)">
        <td>{{$index + 1}}</td>
        <!--<td>{{event.id}}</td>-->
        <td>{{event.stage.name}}</td>
        <td>{{event.round}}</td>
        <td>{{ event.home }}</td>
        <td><b>{{ event.homeScore }}:{{event.visitorScore}}</b></td>
        <td>{{ event.visitor }}</td>
        <td>{{event.placeId.name }}</td>
        <td>{{event.date | date:"dd.MM" }}</td>
        <td>{{event.time }}</td>
    </tr>
</table>
